<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="DefaultSize" value="100" />
        <add key="FOFAEmail" value="" />
        <add key="FOFAKey" value="" />
        <add key="SumapUser" value="" />
        <add key="SumapKey" value="" />
        <add key="HunterUser" value="" />
        <add key="HunterKey" value="" />
        <add key="QuakeKey" value="" />
    </appSettings>
</configuration>